<div class="auth">
  <div class="row">
    <div class="col s6 offset-s3">
      {{#if error}}
      <p class="alert">{{error}}</p>
      {{/if}}
      <h1>Восстановить доступ</h1>
      
        <form action="/auth/password" method="POST">
          <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Пароль</label>
            <span class="helper-text" data-error="Введите пароль"></span>
          </div>

          <input type="hidden" name="_csrf" value="{{csrf}}">
          <input type="hidden" name="token" value="{{token}}">
          <input type="hidden" name="userId" value="{{userId}}">

          <button class="btn btn-primary" type="submit">Восстановить</button>
        </form>
      </div>
    </div>
</div>